.A1{
    display: flex;
    flex-direction: column;
   position: absolute;
    justify-content: center;
    
  }
  .AddtaskPage{
      
    /* background-color: blue; */
    height: 10vh;
    justify-content: center;
    align-items: center;
    width: 70vh;
    margin-left: 10%;
    margin-top: 20%;
  }
  
  .r1_details{
  justify-content: space-between;
  display: flex;
  padding: 10px;
  padding-right: 90px;
  
  }
  
  .addtaskbold label{
    font-size: 18px; 
    padding-right: 100px;
  }
  .log {
  display: flex;
  padding-top: 40px;
  padding-right: 43px;
  font-size: 18px;
  }
  
  .email {
    display: flex;
    padding-top: 40px;
    padding-right: 20px;
    height: 0.5vh;
  text-decoration: underline;
  text-decoration-color: blueviolet;
  text-decoration-thickness:5px;
  font-size: 18px;
  
    
  
  }
  
  /* .email ul{
    background-color: aqua;
    margin-top: 10px;
    
  } */
  .r1_details button{
  
  background-color: #9155FD;
  border-color: #FFFFFF;
  border-radius: 18px;
  margin-left: 6px;
  
  
  }
  .r1_bagSquare {
  margin-bottom: 25px;
  background-color: white;
  width: 30px;
  padding-bottom: 5px;
  }
  .r1_bagIcon{
    display: flex;
  
  align-items: center;
  margin-top:5px;
  margin-bottom: 8px;
  width: 25px;
  }
  .r1_plusIcon{
    margin-right: 3px;
   width: 15px;
    background-color: C3CAD9;
    margin-top: 8px;
    color: violet;
    
  }
  .r1_plus{
    background-color: #9155FD;
  flex-direction: row;
  width: 86px;
  height: 4vh;
  border-radius:12px;
  padding-top: 1px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-right: -25px;
  margin-top: 20px;
  }
  
  
  .label {
    color: rgba(75, 73, 73, 0.726);
   
  }
  
  .rectangle_6{
    background-color: #FFFFFF;
    height: 30px;
    width: 150px;
   margin-left: 3px;
  }
  .rectangle_1{
    background-color: #FFFFFF;
    height: 30px;
    width: 150px;
  }
  .rectangle_2{
    background-color: #FFFFFF;
    height: 30px;
    width: 150px;
    margin-right: 20px;
  } 
  
  .r3{padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .r4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding:25px 0px ;
  }
  .rectangle_3{
  background-color: #FFFFFF;
  height: 30px;
  width: 150px;
  margin-left: 3px;
  
  }
  .rectangle_4{
  background-color: #FFFFFF;
  height: 30px;
  width: 150px;
  }
  .rectangle_5{
  background-color: #FFFFFF;
  height: 30px;
  width: 150px;
  margin-right: 20px;
  }
  .rowitems{
    background-color: #fafbfc;
    height: 30vh;
    margin-bottom: 100px;
    padding: 15px;
    
  }
  .full{
  
    background-color:#fafbfc;
    height: 50vh;
  }
  .S{
  background-color: white;
    margin-top: 20px;
    width: 50%;
    /* border: 0.2px solid gray; */
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px 1px #e3e2e2;
  }
  .button{
    outline: none;
    border: none;
    color: white;
  }